doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles/style.css")
        title Document
    body 
        h3.main  aboutus Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur qui pariatur delectus dolor voluptatibus! Ducimus vero recusandae deserunt rem, beatae dolore mollitia eos, molestias corporis ipsum, qui assumenda debitis officia?