doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h3.main  galleryLorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium veniam laboriosam adipisci, fugit ullam accusamus provident animi mollitia veritatis temporibus inventore est ea earum vel quaerat saepe, atque reprehenderit quae?