//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-         link(rel="stylesheet", href="/static/styles/style.css")
//-         title Document
//-     body 
//-      p.title Gallery Page
//-      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, unde eaque! Perferendis, laborum? Fuga minima reiciendis officiis sunt doloribus rem.