doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/static/styles/style.css")
    body 
    p.test Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, magni quae unde nihil provident magnam nam natus facilis, consequatur laudantium sequi amet, atque maxime eligendi dolorum quos reiciendis laborum cupiditate iste in ipsam perspiciatis? Est dolore deleniti rem totam consectetur optio aspernatur aperiam aut culpa id, fugiat reiciendis, quod dolores!
    img(src="/images/2.jpg" width="40%" , alt="")